 
 .login-form {
    display: flex;
    flex-direction: column;
   /* height: max-content; */

    
  }
  
  .login-form > div:nth-child(2){
    /* border: 1px solid red; */
    display: flex;
    width: 98%;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .login-form p{
    overflow: hidden;
    font-size: 1rem;
    height: 30px;
    margin-bottom: 15px;
  }
  .login-form p a{
    font-size: 1.2rem;
  }
  .forgot-password-link{
   
    font-size:1.2rem ;
    height: 30px;
    overflow: hidden;
  }
  .login-h2,
  .reset-password-h2{
    overflow: hidden;
    letter-spacing: 3px;
    font-size: 1.6rem;
    height: 40px;
  }
  @media screen and (max-width:450px) {
    .reset-password-h2{
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width:350px){
    .reset-password-h2{
      padding-top: 20px;
      font-size: 1.2rem;
    }
  }