.register-page{
    /* position: relative; */
    width: 100vw;
    /* height: 70vh; */
    border: 1px solid ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.register-page .gif-div{
    width: 50%;
    margin-top: 1rem;
   border-radius: 30px;
}
.register-page .gif-div img{
    width: 100%;
    height: 100%;
}
.register-page div:nth-child(2){
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0.5rem;
    /* justify-content: space-evenly; */
}
.register-page div:nth-child(2) h3{
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}
.register-page .account-register-form{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 15px  gray;
 
    margin-top: 1.5rem;
    
}
.register-page .account-register-form > div:nth-child(2){
    /* border: 1px solid red; */
    width: 95%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.register-page form input,
.register-page .input{
    width: 90%;
    padding: 6px 5px 6px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
}

.register-page .account-register-form button{
    width: 50%;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: green;
    padding: 7px 2px 7px 3px;
}
.account-register-form button:hover{
    background-color: green;
    color: white;
    box-shadow: 5px 5px 5px grey;
}
/* responsive */
@media screen and (max-width:1000px){
    .register-page{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .register-page .gif-div{
        width: 80%;
       
    }
    .register-page div:nth-child(2){
        width: 80%;
       align-items: center;
    }
    .register-page .account-register-form{
        width: 60%;
    }
}
@media screen and (max-width:800px){
    .register-page .account-register-form{
        width: 70%;
    }
}
@media screen and (max-width:580px){
    .register-page .gif-div{
        width: 90%;
       
    }
    .register-page div:nth-child(2){
        width: 90%;
    }
    .register-page .account-register-form{
        width: 80%;
    }
}


 @media screen and (max-width:426px){
 
    .register-page .account-register-form{
        width: 90%;
    }
}