.App{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
nav{
   
    background:  #042380;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    /* box-shadow: 5px 8px 5px rgb(207, 217, 230); */
    z-index: 10;
    /* flex: 1; */
}
.routes-component-div{
 
     overflow-x: hidden;
    position: relative; 
    flex: 1;
    padding-top: 70px;
    z-index: 1;
}
.footer{
    /* margin-top: 40px; */
    position: relative;
    width: 100vw;
    bottom: 0;
    --tw-bg-opacity: 1;
    background-color: rgba(3,105,161,var(--tw-bg-opacity));
    z-index: 1;
}
.overflow-hidden{
    overflow: hidden;
}
.color-white{
    color: white;
}

/* ------------------------ */