.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content-wrap {

    flex: 1;
    /* Make the content take up remaining space */
}

.routes-component-section {
    padding-top: 5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.color-white {
    color: white;
}

/* ------------------------ */