 .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    
  }
  
  .login-form > div:nth-child(2){
    /* border: 1px solid red; */
    display: flex;
    width: 98%;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .login-form p{
    overflow: hidden;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .login-form p a{
    font-size: 1.2rem;
  }