@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@keyframes float {
	0% {
		transform: translatey(-2px);
	}
	50% {
		transform: translatey(-8px);
	}
	100% {
		transform: translatey(-2px);
	}
}
:root{
    --navbarHeight:70px;
}
.navbar{
    overflow: hidden;
    width: 90%;
    height: 100%;
    height: var(--navbarHeight);
    /* background: rgb(156 203 227); */
    /* z-index: 2; */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
   z-index: 50; */
}
.logo{
    /* border: 1px solid; */
    width: 10%;
   /* height: 100%; */
   
}
.logo img{
    
    width: 70%;
    height: 60px;
   

}
.titale{
    /* position: absolute; */
    /* border: 1px solid; */
    /* left: 40%; */
    width: 18%;
    overflow: hidden;
    transform: translate(-40%);
    width: fit-content;
    height:var(--navbarHeight);
    display: flex;
    align-items: center;
}
.titale h1{
    
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: rgb(141, 22, 11);
}
.nav-link-div{
    /* border: 1px solid; */
    width: 50%;
    height: 100%;
    /* position: absolute; */
    /* right: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nav-link-div a{
    /* border: 1px solid; */
    height: 90%;
    text-decoration: none;
    color: rgb(7, 2, 58);
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;

}
.nav-link-div .icon{
   
    font-size: 1.5rem;

    margin-right: 5px;
    
   
}
.home-ico{
    background: white;
    color: rgb(9, 157, 108);
   
    /* font-size: 1.4; */
}
.about-ico{
    background: blue;
    color: white;
    border: 2px solid black;
}
.contact-ico{
    color: rgb(35, 40, 40);
    font-weight: 600;
}
.cart-ico{
    color: rgb(38, 47, 38);
    font-weight: 600;
}
.nav-link-div a:hover
{
    color: blue;
    font-weight: 700;
}
.cart-count{
    margin-left:5px;
    background-color: blue;
    color: white;
    padding: 0px 4px 0px 4px;
    border-radius: 70%;
    animation: float 1.5s ease-in-out infinite;
}
.signin{
    
    /* border: 1px solid black; */
    width: 17%;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.signin span{
    /* border: 1px solid rgb(196, 15, 15); */
    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin span:hover{
  /* width: 100%; */
 /* text-shadow: 5px 10px 5px grey; */
  background-color: aqua;
  box-shadow: 5px 10px 5px grey;
  border-radius:30px ;
}
@media screen and (max-width:1050px) {
   
    .navbar{
        width: 100%;
    }
    .nav-link-div{
        width: 55%;
    }
    .signin{
        margin-right: 5px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 768px){
    .titale h1{
        font-size: 2rem;
    }
    .nav-link-div{
        width: 60%;
    }
    .nav-link-div a{
        font-size: 1rem;
    }
    .signin{
        margin-left: 5px;
    }
}